*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: robotolight, Helvetica, "Helevetica Neue", Arial;
    src: url();
}

.banner .container{
    background-color: rgb(51, 122, 183) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 0;


}

.container a{
    color: white;
    position: relative;
}

.cross{
    position: absolute;
    right: 3px;
    padding-right: 15px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.main
{
    background-image: url(./pass-manager-bg-green.png);
    background-repeat: no-repeat;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    width: 100%;
    height: auto;

}

.screen img{
    height: 300px;
    position:relative;
    left: 20%;
    bottom:-120px;
    

}

.text h1 {
    color: white;
    position: relative;
    left: 40%;
    top: 50px;

}

.text p{
    color: white;
    position: relative;
    left: 37%;
    top: 70px;
}
.text a{
    border: 1px solid black;
    padding: 30px;
    color: white;
}

.images
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
    top: 100px;
}

.clic h3
{
    color: rgb(91, 178, 84);
}

.clic p
{
    color: black;
}

.clic img{
    height: 200px;
    position:relative;
    left: 30%;
    top: 50px;

}

.password img
{
    height: 200px;
}

.security img{
    height: 200px;
    width: ;
}

.tables
{
    background-size: cover;
}




    
    